@charset "utf-8";

/* 共通パーツ */
main{
    font-size: 16px;
}


/* 下層イメージ */
.main_image{
    width: 100%;
}

/* 取扱業務 */
.page_title{
    margin-top: -29px;
}


.page_maintitle{
    display:inline-block;
    font-family: 'YuMincho' ,serif;
    font-size: 39px;
    padding-bottom: 22px;

    position: relative;
}

.page_maintitle::after{
    content:"";
    display:block;
    width:66%;
    left: 17%;
    height:1px;
    background-color:#B4BE75;
    position:absolute;
    bottom: 0;
}

.page_maintext{
    line-height: 3em;
    padding: 54px 0 81px 0;
}

.service_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service_box{
    background-color: #F8F8F8;
    width: calc(25% - 28px);
    margin-right: 5.7%;
}

.service_box_inner{
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.service_box:last-child{
    margin-right: unset;
}

.service_title{
    font-size: 20px;
    font-weight: 600;
    padding: 36px 0 44px 0;
}

.service_inner{
    padding: 36px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service_inner p{
    margin-bottom: .5em;
}


.service_image{
    width: 80px;
    height: 80px;
    object-fit: none;
}

.service_button{
    display: block;
    content: "";
    width: 27px;
    height: 27px;
    margin-bottom: 18px;

    background-color: #D8A055;
    border-radius: 20px;

    position: relative;
    transition: .4s;
}

.service_button::after{
    position: absolute;
    content: "";
    border-right: 4.5px solid transparent;
    border-bottom: 7.79px solid #fff;
    border-left: 4.5px solid transparent; 
    transform: translateX(-50%) translateY(-50%) rotate(180deg); 
    top: 50%;
    left: 50%;
}

.on .service_button{
    margin-bottom: 2px;
}

/* 離婚問題 */

.section_title_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B4BE75;
    margin-top: 170px;
    padding-bottom: 11px;
}

.divorce .section_title_box{
    margin-top: 200px;
}

.section_title_icon{
    height: 100%;
    margin-right: 30px;
}

.section_title{
    font-size: 33px;
    font-weight: 600;
}

.section_container{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 37px;
}

.section_text{
    width: 42%;
    line-height: 2em;
    margin-top: 41px;
}

.section_image{
    width: 48%;
}

.case_title{
    font-size: 22px;
    font-weight: 600;
    border-left: 3px solid #D8A055;
    margin-top: 33px;
    margin-bottom: 23px;
    padding-left: 13px;
}

.case_text{
    margin-bottom: 30px;
}

.case_box{
    width: 100%;
    background-color: #F8F8F8;
    flex-wrap: wrap;
}

.case_box_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 68px 71px 33px 82px;
}

.case{
    display: flex;
    align-items: center;
    width: 42%;
    position: relative;
    margin-bottom: 42px;
}

.case::before{
    position: absolute;
    content: "";
    border: 1.5px solid #707070;
    background-color: #fff;
    height: 32px;
    width: 32px;
    left: -53px;
}

.case::after{
    position: absolute;
    content: "✔︎";
    color: #D08336;
    font-size: 33px;
    font-weight: 100;
    left: -47px;
    transform: translateY(-5px);
    z-index: 12;
}