@charset "utf-8";

/* 共通パーツ */
main{
    font-size: 16px;
}


/* 下層イメージ */
.main_image{
    width: 100%;
}

/* 取扱業務 */
.page_title{
    margin-top: -29px;
}


.page_maintitle{
    display:inline-block;
    font-family: 'YuMincho' ,serif;
    font-size: 39px;
    padding-bottom: 22px;

    position: relative;
}

.page_maintitle::after{
    content:"";
    display:block;
    width:100%;
    height:1px;
    background-color:#B4BE75;
    position:absolute;
    bottom: 0;
    left: 0;
}

.page_maintext{
    line-height: 3em;
    padding: 54px 0 81px 0;
}

.service_container{
    width: 100%;
    display: flex;
}

.service_box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;


    background-color: #F8F8F8;
    width: calc(25% - 66px);
    margin-right: 5.7%;
}

.service_title{
    font-size: 20px;
    font-weight: 600;
    padding: 36px 0 44px 0;
}

.service_inner{
    padding: 36px 0 50px 0;
}

.sevice_button .button{
    display: block;
    width: 27px;
    height: 27px;
    margin-bottom: 18px;

    background-color: #D8A055;
    border-radius: 20px;

    position: relative;
}

.button::after{
    position: absolute;
    content: "";
    border-right: 4.5px solid transparent;
    border-bottom: 7.79px solid #fff;
    border-left: 4.5px solid transparent; 
    transform: translateX(-50%) translateY(-50%) rotate(180deg); 
    top: 50%;
    left: 50%;
}

/* 離婚問題 */

.section_title_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B4BE75;
    margin-top: 170px;
    padding-bottom: 11px;
}

.divorce .section_title_box{
    margin-top: 200px;
}

.section_title_icon{
    height: 100%;
}

.section_title{
    font-size: 33px;
    font-weight: 600;
}

.section_container{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 37px;
}

.section_text{
    width: 42%;
    line-height: 2em;
    margin-top: 41px;
}

.section_image{
    width: 48%;
}

.case_title{
    font-size: 22px;
    font-weight: 600;
    border-left: 3px solid #D8A055;
    margin-top: 33px;
    margin-bottom: 23px;
    padding-left: 13px;
}

.case_text{
    margin-bottom: 30px;
}

.case_box{
    width: 100%;
    background-color: #F8F8F8;
    flex-wrap: wrap;
}

.case_box_inner{
    padding: 66px 0 74px 0;
}

.case{
    display: inline-block;
    width: 48%;
}